{% load static %}
<html>
  <head>
    <title>Cola.js test3</title>
<style>
.node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

.link {
  stroke: #999;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 25px;
    text-anchor: middle;
    cursor: move;
}
</style>
  </head>
  <body>
    <h1>ロジックツリー生成ツール</h1>
    {% if err_message %}
    <font color="red">{{ err_message }}</font>
    {% endif %}
    <p name="description">
      以下にインデント（スペース）で階層化したテキストを記載してください。<br />
      改行したい個所に「\n」を記載してください。
    </p>
    <form action="{% url 'draw' %}" method="post">
      {% csrf_token %}
      <textarea name="text_logictree" rows="25" cols="100">{{ prev_text_body }}</textarea>
      <p name="bottons"><input name="submit_text_logictree" type="submit" value="グラフ描写"></p>
    </form>
    {% if image_file_name %}
    <img src="{% static image_file_name %}">
    {% endif %}
  </body>
</html>
