{% load static %}
<html>
  <head>
    <title>Cola.js test3</title>
<style>
.node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

.link {
  stroke: #999;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 25px;
    text-anchor: middle;
    cursor: move;
}
</style>
  </head>
  <body>
    <form action="{% url 'draw' %}" method="post">
      {% csrf_token %}
      <p name="text_logictree_title">以下にロジックツリーをテキスト形式で記載。</p>
      <textarea name="text_logictree" rows="50" cols="100"></textarea>
      <p name="bottons"><input name="submit_text_logictree" type="submit" value="グラフ描写"></p>
    </form>
<script src="{% static 'drawlogic/d3v4.js'%}"></script>
<script src="{% static 'drawlogic/cola.min.js'%}"></script>
<script>
    var width = 1000,
        height = 1000;

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var cola = cola.d3adaptor(d3)
        .linkDistance(120)
        //.avoidOverlaps(true)
        .size([width, height]);

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    //d3.json("{% static 'drawlogic/cities.json' %}", function (error, graph) {
    d3.json("{% static path_to_json %}", function (error, graph) {
        cola
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        // define arrow markers for graph links
        svg.append('svg:defs').append('svg:marker')
            .attr('id', 'end-arrow')
            .attr('viewBox', '0 -5 10 10')
            .attr('refX', 6)
            .attr('markerWidth', 3)
            .attr('markerHeight', 3)
            .attr('orient', 'auto')
          .append('svg:path')
            .attr('d', 'M0,-5L10,0L0,5')
            .attr('fill', '#000');

        var link = svg.selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link");

        var node = svg.selectAll(".node")
            .data(graph.nodes)
          .enter().append("rect")
            .attr("class", "node")
            .attr("width", function (d) { return d.width; })
            .attr("height", function (d) { return d.height; })
            .attr("rx", 5).attr("ry", 5)
            .style("fill", function (d) { return color(1); })
            .call(cola.drag);

        var label = svg.selectAll(".label")
            .data(graph.nodes)
           .enter().append("text")
            .attr("class", "label")
            .text(function (d) { return d.name; })
            .call(cola.drag);

        node.append("title")
            .text(function (d) { return d.name; });

        cola.on("tick", function () {
            link.attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; });

            node.attr("x", function (d) { return d.x - d.width / 2; })
                .attr("y", function (d) { return d.y - d.height / 2; });

            label.attr("x", function (d) { return d.x; })
                 .attr("y", function (d) {
                     var h = this.getBBox().height;
                     return d.y + h/4;
                 });
        });
    });

</script>
  </body>
</html>
